@import '../css/index.css';

:root {
	/* https://css-tricks.com/snippets/css/system-font-stack/ */
	--font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

main {
	max-inline-size: var(--max-width-content);
	margin-inline: auto;
}
