.a-heading {
	font: var(--font-heading-medium);
	text-wrap-style: balance;
}

.a-heading:where(h1),
.a-heading[data-size="xxlarge"] {
	font: var(--font-heading-xxlarge);
}
.a-heading:where(h2),
.a-heading[data-size="xlarge"] {
	font: var(--font-heading-xlarge);
}
.a-heading:where(h3),
.a-heading[data-size="large"] {
	font: var(--font-heading-large);
}
.a-heading:where(h4),
.a-heading[data-size="medium"] {
	font: var(--font-heading-medium);
}
.a-heading:where(h5),
.a-heading[data-size="small"] {
	font: var(--font-heading-small);
}
.a-heading:where(h6),
.a-heading[data-size="xsmall"] {
	font: var(--font-heading-xsmall);
}
