.m-stack {
	display: flex;
	flex-direction: column;
	gap: var(--size-200);

	&[data-justify="center"] {
		justify-content: center;
	}

	&[data-size="xsmall"] {
		gap: var(--size-50);
	}
	&[data-size="small"] {
		gap: var(--size-100);
	}
	&[data-size="large"] {
		gap: var(--size-300);
	}
	&[data-size="xlarge"] {
		gap: var(--size-400);
	}
	&[data-size="xxlarge"] {
		gap: var(--size-600);
	}
	&[data-size="xxxlarge"] {
		gap: var(--size-800);
	}
}
