.a-text {
	--font-size: var(--font-size-paragraph-medium);
	--line-height: var(--line-height-paragraph-medium);

	font: var(--font-paragraph-medium);

	> h1 {
		font: var(--font-heading-xxlarge);
	}
	> h2 {
		font: var(--font-heading-xlarge);
	}
	> h3 {
		font: var(--font-heading-large);
	}
	> h4 {
		font: var(--font-heading-medium);
	}
	> h5 {
		font: var(--font-heading-small);
	}
	> h6 {
		font: var(--font-heading-xsmall);
	}

	> * + * {
		margin-block-start: var(--space-400);
	}

	&[data-size="large"] {
		--font-size: var(--font-size-paragraph-large);
		--line-height: var(--line-height-paragraph-large);

		font: var(--font-paragraph-large);
	}
	&[data-size="small"] {
		--font-size: var(--font-size-paragraph-small);
		--line-height: var(--line-height-paragraph-small);

		font: var(--font-paragraph-small);
	}
	&[data-size="xsmall"] {
		--font-size: var(--font-size-paragraph-xsmall);
		--line-height: var(--line-height-paragraph-xsmall);

		font: var(--font-paragraph-xsmall);
	}

	& + & {
		margin-block-start: var(--gap-block);
	}

	.a-heading + & {
		margin-block-start: var(--gap-block);
	}
}
