:root {
	font-family: var(--font-family);
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-after: var(--hyphenate-limit);
	-webkit-hyphenate-limit-before: var(--hyphenate-limit);

	@supports (hyphenate-limit-chars: 16 8 8) {
		hyphens: auto;
		hyphenate-limit-chars: calc(var(--hyphenate-limit) * 2) var(--hyphenate-limit) var(--hyphenate-limit)
	}
}

:root[data-no-scroll],
:root[data-no-scroll] & {
	overflow: hidden;
	block-size: 100%;
}

body {
	display: flex;
	flex-direction: column;
	font: var(--font-paragraph-medium);
	color: var(--color-content-primary);
	background-color: var(--color-background-primary);
}

